[Unit]
Description=Sync offline mirror.
 
[Service]
Type=simple
ExecStart=/usr/bin/bash -c "/mnt/mirror/projects/mirror_sync/mirror_sync.sh 2>&1 | tee /mnt/mirror/log.txt"

[Install]
WantedBy=multi-user.target
WantedBy=network.target
